{% extends "AcmeDemoBundle::layout.html.twig" %}


{% block content %}
    <p>Mail transport test</p>
    <form novalidate="novalidate" action="{{ path('_demo') }}" method="POST" id="contact_form">

        <div class="form-group {% if form.name.vars.errors|length %} has-error {%endif%}">
            <label class="control-label">{{ form_errors(form.name) }}</label>
            {{ form_widget(form.name, { 'attr': {'class': 'form-control', placeholder: 'Name'} }) }}

        </div>

        <div class="form-group {% if form.mail.vars.errors|length %} has-error {%endif%}">
            <label class="control-label">{{ form_errors(form.mail) }}</label>
            {{ form_widget(form.mail, { 'attr': {'class': 'form-control', placeholder: 'Email'} }) }}
        </div>

        <div class="form-group {% if form.name.vars.errors|length %} has-error {%endif%}">
            <label class="control-label">{{ form_errors(form.text) }}</label>
            {{ form_widget(form.text, { 'attr':
                {'class': 'form-control', placeholder: 'Message', rows: 7, style: 'resize: none'} }) }}
        </div>

        {{ form_rest(form) }}
        <input c type="submit" value="Send" class="btn btn-success" />
    </form>
{% endblock %}
